<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Nedda - Business Corporation Bootstrap HTML Template</title>
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- For Window Tab Color -->
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#061948">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#061948">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#061948">
		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56"
		href="../images/fav-icon/Black White Minimalist Professional Initial Logo.png">
		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="../css/responsive.css">

		<!-- Fix Internet Explorer ______________________________________-->
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->	
	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader"></div>
			</div>

			

	<!-- 
			=============================================
				Theme Header Two
			============================================== 
			-->
										<!-- ============== NavBar ================ -->
			<header class="header-two">
				<div class="top-header">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-8 col-12">
								<ul class="left-widget">
									<li>Phone: + (212) - 613 211 334 <span style="font-size: 24px;">🇲🇦</span></li>
									<li>
									<!--	<div id="polyglotLanguageSwitcher">
											<form action="#">
												<select id="polyglot-language-options">
													<option id="en" value="en" selected>English</option>
													<option id="fr" value="fr">French</option>
													<option id="de" value="de">German</option>
													<option id="it" value="it">Italian</option>
													<option id="es" value="es">Spanish</option>
												</select>
											</form>
										</div>  End #polyglotLanguageSwitcher -->
									</li>
								</ul>
							</div>
							<div class="col-md-6 col-sm-4 col-12">
								<ul class="social-icon">
									<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.top-header -->

				<div class="theme-menu-wrapper">
					<div class="container">
						<div class="bg-wrapper clearfix">
							<div class="logo float-left"><a href="index.html"><img class="logmer" src="../images/logo/Black_White_Minimalist_Professional_Initial_Logo-removebg-preview.png" alt=""></a></div>
							<!-- ============== Menu Warpper ================ -->
							<div class="menu-wrapper float-left">
								<nav id="mega-menu-holder" class="clearfix">
									<ul class="clearfix">
										<li class="active"><a href="/">Home</a></li>
										<li><a href="/About">ABOUT US</a></li>
										<li><a href="/Team">Our Team</a></li>
										<li><a href="/Service">Services</a></li>
										<li><a href="#">Blog</a>
											<ul class="dropdown">
												<li><a href="/Blog">Blog Left Sidebar</a></li>
												<li><a href="/BlogR">Blog Right Sidebar</a></li>
												<li><a href="/BlogD">Blog Post</a></li>
											</ul>
										</li>
										<li><a href="/Contact">contact</a></li>
									</ul>
								</nav> <!-- /#mega-menu-holder -->
							</div> <!-- /.menu-wrapper -->
							<div class="right-widget float-right">
								<ul>
									<li class="cart-icon">
										<a href="/store"><i class="flaticon-tool"></i> <span>0</span></a>
									</li>
									<li class="search-option">
										<div class="dropdown">
											<button type="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search" aria-hidden="true"></i></button>
											<form action="#" class="dropdown-menu">
												<input type="text" Placeholder="Enter Your Search">
												<button><i class="fa fa-search"></i></button>
											</form>
										</div>
									</li>
								</ul>
							</div> <!-- /.right-widget -->
						</div> <!-- /.bg-wrapper -->
					</div> <!-- /.container -->
				</div> <!-- /.theme-menu-wrapper -->
			</header>  <!-- /.header-one -->

			
		<!--
			=============================================
				Theme Main Banner
			============================================== 
			 -->
			<div class="our-blog section-spacing">
				<div class="container">
					<div class="row margintop-70">
						<div class="col-xl-9 col-lg-8 col-12">
							<div class="post-wrapper blog-details">
								<div class="single-blog">
									<div class="image-box">
										<img src="../images/blog/9da08967f8a4e8b2912e0424d905b511.jpg" alt="">
										<div class="overlay"><a href="#" class="date">May 13, 2021</a></div>
									</div> <!-- /.image-box -->
									<div class="post-meta">
										<h5 class="title">Official opening of full fitness center TMD GYM.</h5>
										<p>Welcome to TMD GYM – where transformation begins. Our full-service fitness center is designed to support your health journey with modern equipment, expert trainers, and a motivating atmosphere. Whether you're starting fresh or pushing your limits, we have everything you need to succeed.</p>

										<p>We believe in the power of movement. From strength training and cardio to flexibility and endurance, our programs are tailored to all fitness levels. At TMD GYM, you're not just working out – you're building a better version of yourself.</p>
										
										<p>Our trainers are here to guide, motivate, and support you every step of the way. We offer personal training sessions, group classes, and nutritional advice to help you stay focused and reach your goals faster.</p>
										
										<p>Fitness is more than lifting weights – it’s about building discipline, confidence, and resilience. That’s why we’ve created a space where you feel empowered, welcomed, and inspired to challenge yourself every day.</p>
										
										<p>Join the TMD GYM family today and experience what true fitness means. Your goals are within reach – all you have to do is take the first step.</p>
										
									</div> <!-- /.post-meta -->
									<div class="share-option clearfix">
										<ul class="tag-meta float-left">
											<li><i class="fa fa-tags" aria-hidden="true"></i> Tags :</li>
											<li><a href="#">Fitness,</a></li>
											<li><a href="#">Strength,</a></li>
											<li><a href="#">Training</a></li>
										</ul>

										<ul class="social-icon float-right">
											<li><i class="fa fa-share-alt" aria-hidden="true"></i> Share :</li>
											<li><a href="https://www.facebook.com/mbark06"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="https://www.instagram.com/mbark____az?igsh=OW15dzQ1OGk4c3hp"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div> <!-- /.share-option -->
								</div> <!-- /.single-blog -->
							</div> <!-- /.post-wrapper -->

							<!-- ==================== Comment Area ================= -->
							<div class="inner-box comment-area">
								<div class="theme-title-one">
									<h2>COMMENTS(02)</h2>
								</div> <!-- /.theme-title-one -->
								<div class="single-comment clearfix">
									<img src="../images/blog/comment-1.jpg" alt="" class="float-left">
									<div class="comment float-left">
										<h6>Lourance Jordan</h6>
										<p>Amazing facility! The trainers here are super motivating and really help push me toward my fitness goals.</p>
										<a href="/Comments">REPLY</a>
									</div> <!-- /.comment -->
								</div> <!-- /.single-comment -->
								<div class="single-comment clearfix">
									<img src="../images/blog/comment-2.jpg" alt="" class="float-left">
									<div class="comment float-left">
										<h6>Lia Percucci</h6>

										<p>I’ve tried a few gyms before, but TMD GYM has the best atmosphere. Clean space, great equipment, and a friendly community.</p>
										<a href="/Comments">REPLY</a>
									</div> <!-- /.comment -->
								</div> <!-- /.single-comment -->
							</div> <!-- /.inner-box -->
							<!-- ==================== Comment Form ================= -->
							<div class="inner-box comment-form">
								<div class="theme-title-one">
									<h2>POST A COMMENTS</h2>
								</div> <!-- /.theme-title-one -->
							 	<form action="#" class="theme-form-one">
									 <!-- <div class="row">
										<div class="col-md-6 col-12"><input type="text" placeholder="Name"></div>
										<div class="col-md-6 col-12"><input type="text" placeholder="Phone"></div>
										<div class="col-12"><input type="email" placeholder="Email"></div>
										<div class="col-12"><textarea placeholder="Comments"></textarea></div>
									</div> -->
								<!-- 	<button class="theme-button-one">COMMENT </button>  -->
									<a href="/Comments" class="theme-button-one" >POST COMMENT</a>
								</form>
							</div> <!-- /.inner-box -->
						</div>
						<!-- ===================== Blog Sidebar ==================== -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-12 blog-sidebar">
							<div class="sidebar-container sidebar-search">
								<form onsubmit="searchPage(event)">
									<input type="text" id="searchInput" placeholder="Search...">
									<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
								  </form>
							</div> <!-- /.sidebar-search -->
							<div class="sidebar-container sidebar-categories">
								<h5 class="title">Categories</h5>
								<ul>
									<li><a href="#">Workout Plans</a></li>
									<li><a href="#">Nutrition </a></li>
									<li><a href="#">Bodybuilding </a></li>
									<li><a href="#">Weight Loss  </a></li>
									<li><a href="#">Gym Events  </a></li>
								</ul>
							</div> <!-- /.sidebar-categories -->
							<div class="sidebar-container sidebar-recent-post">
								<h5 class="title">Recent Posts</h5>
								<ul>
									<li class="clearfix">
										<img src="../images/blog/9da08967f8a4e8b2912e0424d905b511.jpg" alt="" class="float-left">
										<div class="post float-left">
											<a href="/BlogR">Official opening of full fitness center TMD GYM.</a>
											<div class="date">May 13, 2021</div>
										</div>
									</li>
									<li class="clearfix">
										<img src="../images/blog/27ea447d5c572fa1b3cff74851d85bed.jpg" alt="" class="float-left">
										<div class="post float-left">
											<a href="/BlogR">Structured training plan for all levels General Assembly.</a>
											<div class="date">July 03, 2022</div>
										</div>
									</li>
									<li class="clearfix">
										<img src="../images/blog/03a35757d49f5720074f36e9b16827b3.jpg" alt="" class="float-left">
										<div class="post float-left">
											<a href="/BlogR">Professional coaches with long training experience.</a>
											<div class="date">June 27, 2022</div>
										</div>
									</li>
								</ul>
							</div>  <!-- /.sidebar-archives -->
							<div class="sidebar-tags">
								<h5 class="title">tags</h5>
								<ul class="clearfix">
									<li><a href="/">Fitness</a></li>
									<li><a href="/">Strength</a></li>
									<li><a href="/">Training</a></li>
									<li><a href="/">Healthy</a></li>
									<li class="active"><a href="/">Lifestyle</a></li>
									<li><a href="/">Recovery</a></li>
									<li><a href="/">Supplements</a></li>
									<li><a href="/">Motivation</a></li>
								</ul>
							</div> <!-- /.sidebar-tags -->
						</div> <!-- /.col- -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.blog-details -->




			<!--
			=====================================================
				Footer
			=====================================================
			-->
			<footer class="theme-footer-two">
				<div class="top-footer">
					<div class="container">
						<div class="row">
							<div class="col-lg-4 col-sm-6 col-12 logo-widget">
								<div class="logo"><a href="index.html"><img class="logmer" src="../images/logo/Black_White_Minimalist_Professional_Initial_Logo-2-removebg-preview.png" alt=""></a></div>
								<p>You will find training focused on kickboxing, conditioning, and fitness, with workout programs in the gym to improve strength and endurance.</p>
								<ul class="social-icon">
									<li><a href="https://wa.me/212613211334"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
									<li><a href="https://www.instagram.com/mbark____az?igsh=OW15dzQ1OGk4c3hp"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="https://www.facebook.com/mbark06"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								</ul>
							</div> <!-- /.logo-widget -->
							<div class="col-lg-2 col-sm-6 col-12 footer-list">
								<h6 class="title">EXPLORE</h6>
								<ul>
									<li><a href="#">Endurance</a></li>
									<li><a href="#">Strength</a></li>
									<li><a href="#">Fitness</a></li>
									<li><a href="#">Conditioning</a></li>
									<li><a href="#">Kickboxing</a></li>
								</ul>
							</div> <!-- /.footer-list -->
							<div class="col-lg-3 col-sm-6 col-12 footer-gallery">
								<h6 class="title">Gallery</h6>
								<div class="wrapper">
									<div class="row">
										<div class="col-4" >
											<a href="images/footer/1.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img style="border: 1px solid white;" src="../images/footer/photo_2025-05-01_21-43-53 (3).jpg" alt=""></a>
										</div>
										<div class="col-4">
											<a href="images/footer/2.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img style="border: 1px solid white;" src="../images/footer/photo_2025-05-01_21-43-53 (2).jpg" alt=""></a>
										</div>
										<div class="col-4">
											<a href="images/footer/3.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img style="border: 1px solid white;" src="../images/footer/photo_2025-05-01_21-43-53.jpg" alt=""></a>
										</div>
										<div class="col-4">
											<a href="images/footer/4.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img style="border: 1px solid white;" src="../images/footer/photo_2025-05-01_21-43-54.jpg" alt=""></a>
										</div>
										<div class="col-4">
											<a href="images/footer/5.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img  style="border: 1px solid white;" src="../images/footer/photo_2025-05-01_21-43-54 (2).jpg" alt=""></a>
										</div>
										<div class="col-4">
											<a href="images/footer/6.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img style="border: 1px solid white;" src="../images/footer/photo_2025-05-01_21-43-54 (3).jpg" alt=""></a>
										</div>
									</div>
								</div>
							</div> <!-- /.footer-gallery -->
							
							<div class="col-lg-3 col-sm-6 col-12 contact-widget">
								<h6 class="title">CONTACT</h6>
								<ul>
									<li>
										<i class="flaticon-direction-signs"></i>
										Near, Al Fath., Pharmacy DC, Morocco.
									</li>
									<li>
										<i class="flaticon-multimedia-1"></i>
										<a href="#">tmdmad9@gmail.com</a>
									</li>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<a href="#">+ (212) - 613 211 334</a>
									</li>
								</ul>
							</div> <!-- /.contact-widget -->
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.top-footer -->
				<div class="bottom-footer">
					<div class="container">
						<p>WebDev &copy; Copyrights 2024 / <a class="white-link" href="https://gridgum.com">Lorcan Solan / M'bark Azouakine</a> / All Rights Reserved. </p>
					</div>
				</div> <!-- /.bottom-footer -->
			</footer> <!-- /.theme-footer-two -->
			
			

	        

	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s">
				<i class="fa fa-angle-up" aria-hidden="true"></i>
			</button>
			


		<!-- Optional JavaScript _____________________________  -->

    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<!-- jQuery -->
		<script src="../vendor/jquery.2.2.3.min.js"></script>
		<!-- Popper js -->
		<script src="../vendor/popper.js/popper.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
		<!-- Camera Slider -->
		<script src='../vendor/Camera-master/scripts/jquery.mobile.customized.min.js'></script>
	    <script src='../vendor/Camera-master/scripts/jquery.easing.1.3.js'></script> 
	    <script src='../vendor/Camera-master/scripts/camera.min.js'></script>
	    <!-- menu  -->
		<script src="../vendor/menu/src/js/jquery.slimmenu.js"></script>
		<!-- WOW js -->
		<script src="../vendor/WOW-master/dist/wow.min.js"></script>
		<!-- owl.carousel -->
		<script src="../vendor/owl-carousel/owl.carousel.min.js"></script>
		<!-- js count to -->
		<script src="../vendor/jquery.appear.js"></script>
		<script src="../vendor/jquery.countTo.js"></script>
		<!-- Fancybox -->
		<script src="../vendor/fancybox/dist/jquery.fancybox.min.js"></script>

		<!-- Theme js -->
		<script src="../js/theme.js"></script>
		</div> <!-- /.main-page-wrapper -->
	</body>

</html>