<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- Website Title -->
	<!-- For IE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- For Resposive Device -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- For Window Tab Color -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#061948">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#061948">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#061948">
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="56x56"
		href="../images/fav-icon/Black White Minimalist Professional Initial Logo.png">
	<!-- Main style sheet -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<!-- responsive style sheet -->
	<link rel="stylesheet" type="text/css" href="../css/responsive.css">
	<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <title>TMD GYM | Muay Thai & Fitness Center</title>
  <meta name="description" content="Train Muay Thai, get fit, or work with a private coach at TMD GYM. Join today and enjoy a free 2-day trial. Ladies-only programs also available.">
  <meta name="keywords" content="Muay Thai, Gym, Fitness, Personal Training, Women's Gym, TMD GYM, Free Trial">
	<!-- Fix Internet Explorer ______________________________________-->
	<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->
</head>

<body>
	<div class="main-page-wrapper">

		<!-- ===================================================
				Loading Transition
			==================================================== -->
		<div id="loader-wrapper">
			<div id="loader"></div>
		</div>



		<!-- 
			=============================================
				Theme Header Two
			============================================== 
			-->
		<!-- ============== NavBar ================ -->
		<header class="header-two">
			<div class="top-header">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-8 col-12">
							<ul class="left-widget">
								<li>Phone: + (212) - 613 211 334 <span style="font-size: 24px;">🇲🇦</span></li>
								<!--<li>
										<div id="polyglotLanguageSwitcher">
																		<form action="#">
																			<select id="polyglot-language-options">
																				<option id="en" value="en" selected>English</option>
																				<option id="fr" value="fr">French</option>
																				<option id="de" value="de">German</option>
																				<option id="it" value="it">Italian</option>
																				<option id="es" value="es">Spanish</option>
																			</select>
																		</form>
																	</div>  End #polyglotLanguageSwitcher 
								</li>
							</ul>-->
						</div>
						<div class="col-md-6 col-sm-4 col-12">
							<ul class="social-icon">
								<li><a href="https://wa.me/212613211334"><i class="fa fa-whatsapp"
											aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/mbark____az?igsh=OW15dzQ1OGk4c3hp"><i
											class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="https://www.facebook.com/mbark06"><i class="fa fa-facebook"
											aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.top-header -->

			<div class="theme-menu-wrapper">
				<div class="container">
					<div class="bg-wrapper clearfix">
						<div class="logo float-left"><a href="index.html"><img class="logmer"
									src="../images/logo/Black_White_Minimalist_Professional_Initial_Logo-removebg-preview.png"
									alt=""></a></div>
						<!-- ============== Menu Warpper ================ -->
						<div class="menu-wrapper float-left">
							<nav id="mega-menu-holder" class="clearfix">
								<ul class="clearfix">
									<li class="active"><a href="/">Home</a></li>
									<li><a href="/About">ABOUT US</a></li>
									<li><a href="/Team">Our Team</a></li>
									<li><a href="/Service">Services</a></li>
									<li><a href="#">Blog</a>
										<ul class="dropdown">
											<li><a href="/Blog">Blog Left Sidebar</a></li>
											<li><a href="/BlogR">Blog Right Sidebar</a></li>
											<li><a href="/BlogD">Blog Post</a></li>
										</ul>
									</li>
									<li><a href="/Contact">contact</a></li>
								</ul>
							</nav> <!-- /#mega-menu-holder -->
						</div> <!-- /.menu-wrapper -->
						<div class="right-widget float-right">
							<ul>
								<li class="cart-icon">
									<a href="/store"><i class="flaticon-tool"></i> <span>0</span></a>
								</li>
								<li class="search-option">
									<div class="dropdown">
										<button type="button" class="dropdown-toggle" data-toggle="dropdown"><i
												class="fa fa-search" aria-hidden="true"></i></button>
										<form action="#" class="dropdown-menu">
											<input type="text" Placeholder="Enter Your Search">
											<button><i class="fa fa-search"></i></button>
										</form>
									</div>
								</li>
							</ul>
						</div> <!-- /.right-widget -->
					</div> <!-- /.bg-wrapper -->
				</div> <!-- /.container -->
			</div> <!-- /.theme-menu-wrapper -->
		</header> <!-- /.header-one -->

		<!--
			=============================================
				Theme Main Banner
			============================================== 
			 -->
		<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">
			<div class="bg-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-10 mx-auto col-12">
						<div class="hero-text mt-5 text-center">
							<h6 data-aos="fade-up" data-aos-delay="300">new way to build a healthy lifestyle!</h6>
							<h1 class="text-white" data-aos="fade-up" data-aos-delay="500">Upgrade your body at Gymso
								Fitness</h1>
							<a href="/buy-service" class="btn custom-btn mt-3" data-aos="fade-up"
								data-aos-delay="600">Get started</a>
							<a href="/About" class="btn custom-btn bordered mt-3" data-aos="fade-up"
								data-aos-delay="700">learn more</a>
						</div>
					</div>
				</div>
			</div>
		</section>



		<!-- 
			=============================================
				CallOut Banner 
			============================================== 
			-->
		<!-- 
			<div class="callout-banner section-spacing">
				<div class="container clearfix">
					<h3 class="title">Lorem ipsum dolor sit amet concesteur</h3>
					<p>Vitae sapien pellentesque habitant morbi. Scelerisque varius morbi enim nunc faucibus a pellentesque sit amet. Risus ultricies tristique nulla aliquet enim tortor. Turpis nunc eget lorem dolor sed viverra.</p>
					<a href="#" class="theme-button-one">MORBI VARIUS</a>
				</div>
			</div> /.callout-banner -->

		<div class="callout-banner section-spacing">
			<div class="container clearfix">
				<h3 class="title">
					<%= bannerTitle %>
				</h3>
				<p>
					<%= bannerDescription %>
				</p>
				<a href="<%= bannerLink  %>" class="theme-button-one">
					<%= bannerButtonText %>
				</a>
			</div>
		</div> <!-- /.callout-banner -->
		<!-- 
			=============================================
				Our Solution
			============================================== 
			-->
		<div class="our-solution section-spacing">
			<div class="container">
				<div class="theme-title-one">
					<h2>Power Zone </h2>
				</div> <!-- /.theme-title-one -->
				<div class="wrapper">
					<div class="row">
						<div class="col-lg-4 col-sm-6 col-12">
							<div class="single-solution-block">
								<img src="../images/icon/suitcase.svg" alt="" class="icon">
								<h5><a href="#">Personal Trainin</a></h5>
								<p>Achieve your fitness goals with one-on-one sessions tailored to your needs. Our
									certified trainers will guide you every step of the way.</p>
							</div> <!-- /.single-solution-block -->
						</div> <!-- /.col- -->
						<div class="col-lg-4 col-sm-6 col-12">
							<div class="single-solution-block">
								<img src="../images/icon/dumbbell-gym-svgrepo-com.svg" alt="" class="icon">
								<h5><a href="#">Group Classes</a></h5>
								<p>Join our fun and energetic group classes, including spinning and more. Perfect for
									all fitness levels! </p>
							</div> <!-- /.single-solution-block -->
						</div> <!-- /.col- -->
						<div class="col-lg-4 col-sm-6 col-12">
							<div class="single-solution-block">
								<img src="../images/icon/treadmill-sports-and-competition-svgrepo-com (1).svg" alt=""
									class="icon">
								<h5><a href="#">Nutrition Plans </a></h5>
								<p>Get customized meal plans designed to complement your workouts and help you reach
									your goals faster.</p>
							</div> <!-- /.single-solution-block -->
						</div> <!-- /.col- -->
						<div class="col-lg-4 col-sm-6 col-12">
							<div class="single-solution-block">
								<img src="../images/icon/target.svg" alt="" class="icon">
								<h5><a href="#">Modern Equipment</a></h5>
								<p>Train with the latest fitness equipment in a clean and spacious environment. We have
									everything you need for a great workout. </p>
							</div> <!-- /.single-solution-block -->
						</div> <!-- /.col- -->
						<div class="col-lg-4 col-sm-6 col-12">
							<div class="single-solution-block">
								<img src="../images/icon/analysis.svg" alt="" class="icon">
								<h5><a href="#">Supportive Community </a></h5>
								<p>Join a welcoming and motivating community of fitness enthusiasts. Together, we
									achieve more! </p>
							</div> <!-- /.single-solution-block -->
						</div> <!-- /.col- -->
						<div class="col-lg-4 col-sm-6 col-12">
							<div class="single-solution-block">
								<img src="../images/icon/startup-rocket.svg" alt="" class="icon">
								<h5><a href="#">Special Programs</a></h5>
								<p>Participate in boot camps, weight loss challenges, and other exciting programs to
									keep your fitness journey fresh and fun.</p>
							</div> <!-- /.single-solution-block -->
						</div> <!-- /.col- -->
					</div> <!-- /.row -->
				</div> <!-- /.wrapper -->
			</div> <!-- /.container -->
		</div> <!-- /.our-solution -->


		<!-- 
			=============================================
				About Company Stye Two
			============================================== 
			-->
		<div class="about-compnay-two section-spacing">
			<div class="overlay">
				<div class="container">
					<div class="row no-gutters">
						<div class="col-lg-7 col-12 text">
							<div class="theme-title-one">
								<h2>Get in Touch with Us</h2>
							</div> <!-- /.theme-title-one -->
							<p>Have any questions or need more information? Our team is here to assist you with
								everything from gym memberships to training programs. Simply fill out the form below,
							</p>
							<p>and we’ll get back to you as soon as possible. We look forward to helping you achieve
								your fitness goals! </p>
							<img src="../images/logo/Black_White_Minimalist_Professional_Initial_Logo-2-removebg-preview.png"
								alt="" class="sign" style="width: 100px;">
						</div> <!-- /.col- -->
						<div class="col-lg-5 col-12">
							<div class="quote-form">
								<form action="/send-email-home" method="POST" class="theme-form-one">
									<div class="row">
										<div class="col-md-6"><input type="text" name="name"
												placeholder="Name, Lastname *" required></div>
										<div class="col-md-6"><input type="text" name="phone"
												placeholder="Mobile Phone *" required></div>
										<div class="col-md-6"><input type="email" name="email"
												placeholder="Email Address *" required></div>
										<div class="col-md-6">
											<select class="form-control" id="exampleSelect1" name="service" required>
												<option>Choose Your Service</option>
												<option value="Personal Training">Personal Training</option>
												<option value="Group Fitness Classes">Group Fitness Classes</option>
												<option value="Weight Loss Programs">Weight Loss Programs</option>
												<option value="Muscle Building Plans">Muscle Building Plans</option>
											</select>
										</div>
										<div class="col-12"><textarea name="message" placeholder="Your Message"
												required></textarea></div>
									</div> <!-- /.row -->
									<button class="theme-button-one" type="submit">Get Started</button>
								</form>
							</div>
						</div> <!-- /.quote-form -->

					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.overlay -->
		</div> <!-- /.about-compnay-two -->


		<!-- 
			=============================================
				Our Case
			============================================== 
			-->
		<div class="our-case section-spacing">
			<div class="container">
				<div class="theme-title-one">
					<h2>What We Offer</h2>
					<p>Access powerful tools like BMI calculator, schedule planner, shopping and easy community Join.
					</p>
				</div> <!-- /.theme-title-one -->
				<div class="wrapper">
					<div class="row">
						<div class="col-lg-4 col-sm-6 col-12">
							<div class="single-case-block">
								<img src="../images/our-cases/photo_2025-03-26_17-15-15 (2).jpg" alt="">
								<div class="hover-content">
									<div class="text clearfix">
										<div class="float-left">
											<h5><a href="#">BNI-Body Mass Index</a></h5>
											<p>Do The Measurement Test. </p>
										</div>
										<a href="/BMI" class="details float-right"><i class="fa fa-long-arrow-right"
												aria-hidden="true"></i></a>
									</div> <!-- /.text -->
								</div> <!-- /.hover-content -->
							</div> <!-- /.single-case-block -->
						</div> <!-- /.col- -->
						<div class="col-lg-4 col-sm-6 col-12">
							<div class="single-case-block">
								<img src="../images/our-cases/Time Triumph_ Conquering Your Day and Crushing….jpeg" alt="">
								<div class="hover-content">
									<div class="text clearfix">
										<div class="float-left">
											<h5><a href="#">Print UR Name With us</a></h5>
											<p>Print Your Name In Our Team.</p>
										</div>
										<a href="/Print-UR-Name" class="details float-right"><i
												class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
									</div> <!-- /.text -->
								</div> <!-- /.hover-content -->
							</div> <!-- /.single-case-block -->
						</div> <!-- /.col- -->
						<div class="col-lg-4 col-sm-6 col-12">
							<div class="single-case-block">
								<img src="../images/our-cases/photo_2025-03-27_18-21-58.jpg" alt="">
								<div class="hover-content">
									<div class="text clearfix">
										<div class="float-left">
											<h5><a href="#">Join Us</a></h5>
											<p>Choose a Suitable font</p>
										</div>
										<a href="/JOIN" class="details float-right"><i class="fa fa-long-arrow-right"
												aria-hidden="true"></i></a>
									</div> <!-- /.text -->
								</div> <!-- /.hover-content -->
							</div> <!-- /.single-case-block -->
						</div> <!-- /.col- -->
						<div class="col-lg-4 col-sm-6 col-12">
							<div class="single-case-block">
								<img src="../images/our-cases/photo_2025-03-27_18-36-06.png" alt="">
								<div class="hover-content">
									<div class="text clearfix">
										<div class="float-left">
											<h5><a href="#">Member Feedback</a></h5>
											<p>Real Gym Stories Here</p>
										</div>
										<a href="/Comments" class="details float-right"><i
												class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
									</div> <!-- /.text -->
								</div> <!-- /.hover-content -->
							</div> <!-- /.single-case-block -->
						</div> <!-- /.col- -->
						<div class="col-lg-4 col-sm-6 col-12">
							<div class="single-case-block">
								<img src="../images/our-cases/Shatter Your Limits_ How Belief Becomes the….jpeg" alt="">
								<div class="hover-content">
									<div class="text clearfix">
										<div class="float-left">
											<h5><a href="#">Your Training Schedule</a></h5>
											<p>Plan. Train. Repeat. Challenge</p>
										</div>
										<a href="/workSchedule" class="details float-right"><i
												class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
									</div> <!-- /.text -->
								</div> <!-- /.hover-content -->
							</div> <!-- /.single-case-block -->
						</div> <!-- /.col- -->
						<div class="col-lg-4 col-sm-6 col-12">
							<div class="single-case-block">
								<img src="../images/our-cases/Breaking the Isolation_ Building a Strong Support….jpeg" alt="">
								<div class="hover-content">
									<div class="text clearfix">
										<div class="float-left">
											<h5><a href="#">Buying Sports Equipment </a></h5>
											<p>Do you want to buy sports EQ</p>
										</div>
										<a href="/store" class="details float-right"><i class="fa fa-long-arrow-right"
												aria-hidden="true"></i></a>
									</div> <!-- /.text -->
								</div> <!-- /.hover-content -->
							</div> <!-- /.single-case-block -->
						</div> <!-- /.col- -->
					</div> <!-- /.row -->
				</div> <!-- /.wrapper -->
				<div class="view-all"><a href="/Blog" class="theme-button-one">VIEW MORE</a></div>
			</div> <!-- /.container -->
		</div> <!-- /.our-case -->


		<!--
			=====================================================
				Faq Section
			=====================================================
			-->
		<div class="faq-section">
			<div class="overlay">
				<div class="container">
					<div class="theme-title-one">
						<h2>Faq’s</h2>
						<p>Find answers to common fitness questions and reach out to us for more help! </p>
					</div> <!-- /.theme-title-one -->

					<div class="wrapper row no-gutters">
						<div class="col-xl-6 col-lg-7 order-last">
							<div class="faq-content">
								<div class="accordion-one">
									<div class="panel-group theme-accordion" id="accordion">
										<div class="panel">
											<div class="panel-heading">
												<h6 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapse1">
														1. What is the best way for beginners to start exercising?</a>
												</h6>
											</div>
											<div id="collapse1" class="panel-collapse collapse">
												<div class="panel-body">
													<p>It's best to start with a 5-10 minute warm-up, then do simple
														exercises like walking or bodyweight workouts, gradually
														increasing
														intensity.</p>
												</div>
											</div>
										</div> <!-- /panel 1 -->
										<div class="panel">
											<div class="panel-heading active-panel">
												<h6 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapse2">
														2. How often should I work out per week to see good results?</a>
												</h6>
											</div>
											<div id="collapse2" class="panel-collapse collapse show">
												<div class="panel-body">
													<p>It is recommended to exercise 3-5 times a week, mixing strength
														training, cardio, and flexibility exercises for balanced
														results.
													</p>
												</div>
											</div>
										</div> <!-- /panel 2 -->
										<div class="panel">
											<div class="panel-heading">
												<h6 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapse3">
														3. How important is nutrition in achieving fitness goals?</a>
												</h6>
											</div>
											<div id="collapse3" class="panel-collapse collapse">
												<div class="panel-body">
													<p>Nutrition plays a key role in muscle building, weight loss, and
														performance improvement. A good diet should include proteins,
														healthy carbohydrates, and good fats.</p>
												</div>
											</div>
										</div> <!-- /panel 3 -->
										<div class="panel">
											<div class="panel-heading">
												<h6 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapse4">
														4. How can I prevent injuries while exercising?</a>
												</h6>
											</div>
											<div id="collapse4" class="panel-collapse collapse">
												<div class="panel-body">
													<p>You can prevent injuries by warming up properly, using the
														correct
														technique, avoiding heavy weights without proper preparation,
														and
														listening to your body when feeling pain or exhaustion.</p>
												</div>
											</div>
										</div> <!-- /panel 4 -->
										<div class="panel">
											<div class="panel-heading">
												<h6 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapse5">
														5. How can you contact us?</a>
												</h6>
											</div>
											<div id="collapse5" class="panel-collapse collapse">
												<div class="panel-body">
													<p>You can reach us via [phone number/email] or through the contact
														form
														on our website. You can also follow us on social media for
														updates
														and special offers.</p>
												</div>
											</div>
										</div> <!-- /panel 5 -->
									</div> <!-- end #accordion -->
								</div> <!-- End of .accordion-one -->
							</div> <!-- /.faq-content -->
						</div> <!-- /.col- -->
						<div class="col-xl-6 col-lg-5 order-first">
							<div class="img-box"><a data-fancybox href="https://www.youtube.com/embed/gYLW9F9HV-c"
									class="play"><i class="fa fa-play" aria-hidden="true"></i></a></div>
						</div>
					</div> <!-- /.wrapper -->
				</div> <!-- /.container -->
			</div> <!-- /.overlay -->
		</div> <!-- /.faq-section -->

		<!--
			=====================================================
				Why Choose us
			=====================================================
			-->
		<div class="why-choose-us section-spacing">
			<div class="container">
				<div class="theme-title-one">
					<h2>Push Beyond Limits</h2>
				</div> <!-- /.theme-title-one -->

				<div class="wrapper">
					<div class="row">
						<div class="col-lg-4 col-12">
							<div class="single-block">
								<img src="../images/icon/person-running-svgrepo-com.svg" class="icon flaticon-puzzle">
								<h5><a href="#"> Personal Training Programs</a></h5>
								<p>Get customized workout plans to Achieve your goals quickly. </p>
							</div> <!-- /.single-block -->
						</div> <!-- /.col- -->
						<div class="col-lg-4 col-12">
							<div class="single-block">
								<img src="../images/icon/32349redapple_98912.svg" width="50" height="50"
									class="icon flaticon-puzzle">
								<h5><a href="#">Healthy Nutrition - Nutritional </a></h5>
								<p>advice and follow-up with expert nutritionists. </p>
							</div> <!-- /.single-block -->
						</div> <!-- /.col- -->
						<div class="col-lg-4 col-12">
							<div class="single-block">
								<img src="../images/icon/yoga-svgrepo-com.svg" width="60" height="60"
									class="icon flaticon-puzzle">
								<h5><a href="#">Group Workouts </a></h5>
								<p>Join fun and motivating fitness classes. </p>
							</div> <!-- /.single-block -->
						</div> <!-- /.col- -->
					</div> <!-- /.row -->
				</div> <!-- /.wrapper -->
			</div> <!-- /.container -->
		</div> <!-- /.why-choose-us -->


		<!--
			=====================================================
				Short Banner
			=====================================================
			-->
		<div class="short-banner section-spacing">
			<div class="overlay">
				<div class="container">
					<h2>Visit Us & Start Your Journey.</h2>
				</div>
			</div> <!-- /.overlay -->
		</div> <!-- /.short-banner -->


		<!--
			=====================================================
				Latest News
			=====================================================
			-->
		<div class="our-blog latest-news section-spacing">
			<div class="container">
				<div class="theme-title-one">
					<h2>Discover Content</h2>
					<p>Browse a variety of posts and shared Content-insightful, helpful and made for you. </p>
				</div> <!-- /.theme-title-one -->
				<div class="wrapper">
					<div class="clearfix">
						<div class="latest-news-slider">
							<div class="item">
								<div class="single-blog">
									<div class="image-box">
										<img src="../images/news/9da08967f8a4e8b2912e0424d905b511.jpg" alt="">
										<div class="overlay"><a href="#" class="date">May 13, 2021</a></div>
									</div> <!-- /.image-box -->
									<div class="post-meta">
										<h5 class="title"><a href="#">Official opening of full fitness
												center TMD GYM.</a></h5>
										<a href="/Blog" class="read-more">READ MORE</a>
									</div> <!-- /.post-meta -->
								</div> <!-- /.single-blog -->
							</div> <!-- /.col- -->
							<div class="item">
								<div class="single-blog">
									<div class="image-box">
										<img src="../images/news/03a35757d49f5720074f36e9b16827b3.jpg" alt="">
										<div class="overlay"><a href="#" class="date">June 27, 2022</a></div>
									</div> <!-- /.image-box -->
									<div class="post-meta">
										<h5 class="title"><a href="#">Professional coaches with long
												training experience.</a></h5>
										<a href="/Blog" class="read-more">READ MORE</a>
									</div> <!-- /.post-meta -->
								</div> <!-- /.single-blog -->
							</div> <!-- /.col- -->
							<div class="item">
								<div class="single-blog">
									<div class="image-box">
										<img src="../images/news/27ea447d5c572fa1b3cff74851d85bed.jpg" alt="">
										<div class="overlay"><a href="#" class="date">July 03, 2022</a></div>
									</div> <!-- /.image-box -->
									<div class="post-meta">
										<h5 class="title"><a href="#">Structured training plan for all
												levels General Assembly.</a></h5>
										<a href="/Blog" class="read-more">READ MORE</a>
									</div> <!-- /.post-meta -->
								</div> <!-- /.single-blog -->
							</div> <!-- /.col- -->
						</div> <!-- /.latest-news-slider -->
					</div> <!-- /.row -->
				</div> <!-- /.wrapper -->
			</div> <!-- /.container -->
		</div> <!-- /.our-blog -->



		<!--
			=====================================================
				Google Map
			=====================================================
			-->
		<!-- Google Map -->
		<!--<div class="google-map-one"><div class="map-canvas"></div></div> -->
		<div id="map"></div>

		<!--
			=====================================================
				Footer
			=====================================================
			-->
		<footer class="theme-footer-two">
			<div class="top-footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-sm-6 col-12 logo-widget">
							<div class="logo"><a href="index.html"><img class="logmer"
										src="../images/logo/Black_White_Minimalist_Professional_Initial_Logo-2-removebg-preview.png"
										alt=""></a></div>
							<p>You will find training focused on kickboxing, conditioning, and fitness, with workout
								programs in the gym to improve strength and endurance.</p>
							<ul class="social-icon">
								<li><a href="https://wa.me/212613211334"><i class="fa fa-whatsapp"
											aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/mbark____az?igsh=OW15dzQ1OGk4c3hp"><i
											class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="https://www.facebook.com/mbark06"><i class="fa fa-facebook"
											aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div> <!-- /.logo-widget -->
						<div class="col-lg-2 col-sm-6 col-12 footer-list">
							<h6 class="title">EXPLORE</h6>
							<ul>
								<li><a href="#">Endurance</a></li>
								<li><a href="#">Strength</a></li>
								<li><a href="#">Fitness</a></li>
								<li><a href="#">Conditioning</a></li>
								<li><a href="#">Kickboxing</a></li>
							</ul>
						</div> <!-- /.footer-list -->
						<div class="col-lg-3 col-sm-6 col-12 footer-gallery">
							<h6 class="title">Gallery</h6>
							<div class="wrapper">
								<div class="row">
									<div class="col-4">
										<a href="images/footer/1.jpg" data-fancybox="gallery"
											data-caption="Caption for single image" class="fancybox"><img
												style="border: 1px solid white;"
												src="../images/footer/photo_2025-05-01_21-43-53 (3).jpg" alt=""></a>
									</div>
									<div class="col-4">
										<a href="images/footer/2.jpg" data-fancybox="gallery"
											data-caption="Caption for single image" class="fancybox"><img
												style="border: 1px solid white;"
												src="../images/footer/photo_2025-05-01_21-43-53 (2).jpg" alt=""></a>
									</div>
									<div class="col-4">
										<a href="images/footer/3.jpg" data-fancybox="gallery"
											data-caption="Caption for single image" class="fancybox"><img
												style="border: 1px solid white;"
												src="../images/footer/photo_2025-05-01_21-43-53.jpg" alt=""></a>
									</div>
									<div class="col-4">
										<a href="images/footer/4.jpg" data-fancybox="gallery"
											data-caption="Caption for single image" class="fancybox"><img
												style="border: 1px solid white;"
												src="../images/footer/photo_2025-05-01_21-43-54.jpg" alt=""></a>
									</div>
									<div class="col-4">
										<a href="images/footer/5.jpg" data-fancybox="gallery"
											data-caption="Caption for single image" class="fancybox"><img
												style="border: 1px solid white;"
												src="../images/footer/photo_2025-05-01_21-43-54 (2).jpg" alt=""></a>
									</div>
									<div class="col-4">
										<a href="images/footer/6.jpg" data-fancybox="gallery"
											data-caption="Caption for single image" class="fancybox"><img
												style="border: 1px solid white;"
												src="../images/footer/photo_2025-05-01_21-43-54 (3).jpg" alt=""></a>
									</div>
								</div>
							</div>
						</div> <!-- /.footer-gallery -->

						<div class="col-lg-3 col-sm-6 col-12 contact-widget">
							<h6 class="title">CONTACT</h6>
							<ul>
								<li>
									<i class="flaticon-direction-signs"></i>
									Near, Al Fath., Pharmacy DC, Morocco.
								</li>
								<li>
									<i class="flaticon-multimedia-1"></i>
									<a href="#">tmdmad9@gmail.com</a>
								</li>
								<li>
									<i class="fa fa-phone" aria-hidden="true"></i>
									<a href="#">+ (212) - 613 211 334</a>
								</li>
							</ul>
						</div> <!-- /.contact-widget -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.top-footer -->
			<div class="bottom-footer">
				<div class="container">
					<p>WebDev &copy; Copyrights 2024 / <a class="white-link" href="https://gridgum.com">Lorcan Solan /
							M'bark Azouakine</a> / All Rights Reserved. </p>
				</div>
			</div> <!-- /.bottom-footer -->
		</footer> <!-- /.theme-footer-two -->




		<!-- Scroll Top Button -->
		<button class="scroll-top tran3s">
			<i class="fa fa-angle-up" aria-hidden="true"></i>
		</button>



		<!-- Optional JavaScript _____________________________  -->

		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<!-- jQuery -->
		<script src="../vendor/jquery.2.2.3.min.js"></script>
		<!-- Popper js -->
		<script src="../vendor/popper.js/popper.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
		<!-- Camera Slider -->
		<script src='../vendor/Camera-master/scripts/jquery.mobile.customized.min.js'></script>
		<script src='../vendor/Camera-master/scripts/jquery.easing.1.3.js'></script>
		<script src='../vendor/Camera-master/scripts/camera.min.js'></script>
		<!-- menu  -->
		<script src="../vendor/menu/src/js/jquery.slimmenu.js"></script>
		<!-- WOW js -->
		<script src="../vendor/WOW-master/dist/wow.min.js"></script>
		<!-- owl.carousel -->
		<script src="../vendor/owl-carousel/owl.carousel.min.js"></script>
		<!-- js count to -->
		<script src="../vendor/jquery.appear.js"></script>
		<script src="../vendor/jquery.countTo.js"></script>
		<!-- Fancybox -->
		<script src="../vendor/fancybox/dist/jquery.fancybox.min.js"></script>
		<!-- Language Stitcher -->
		<!-- <script src="../vendor/language-switcher/jquery.polyglot.language.switcher.js"></script> -->
		<!-- Google map js -->


		<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
		<!-- Theme js -->
		<script src="../js/theme.js"></script>
		<script src="../js/map-script.js"></script>


	</div> <!-- /.main-page-wrapper -->
</body>

</html>
