<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
<title>Our Services | TMD GYM</title>
<meta name="description" content="Explore the wide range of services offered at TMD GYM, including Muay Thai training, fitness classes, personal coaching, and ladies-only programs.">
<meta name="keywords" content="TMD GYM Services, Muay Thai Training, Fitness Classes, Personal Coaching, Women's Gym, Ladies-Only Programs">

		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- For Window Tab Color -->
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#061948">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#061948">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#061948">
		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56"
		href="../images/fav-icon/Black White Minimalist Professional Initial Logo.png">
		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="../css/responsive.css">

		<!-- Fix Internet Explorer ______________________________________-->
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->	
	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader"></div>
			</div>

			

			<!-- 
			=============================================
				Theme Header One
			============================================== 
			-->
			<header class="header-two">
				<div class="top-header">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-8 col-12">
								<ul class="left-widget">
									<li>Phone: + (212) - 613 211 334 <span style="font-size: 24px;">🇲🇦</span></li>
									<li>
									<!--	<div id="polyglotLanguageSwitcher">
											<form action="#">
												<select id="polyglot-language-options">
													<option id="en" value="en" selected>English</option>
													<option id="fr" value="fr">French</option>
													<option id="de" value="de">German</option>
													<option id="it" value="it">Italian</option>
													<option id="es" value="es">Spanish</option>
												</select>
											</form>
										</div>  End #polyglotLanguageSwitcher -->
									</li>
								</ul>
							</div>
							<div class="col-md-6 col-sm-4 col-12">
								<ul class="social-icon">
									<li><a href="https://wa.me/212613211334"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
									<li><a href="https://www.instagram.com/mbark____az?igsh=OW15dzQ1OGk4c3hp"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="https://www.facebook.com/mbark06"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.top-header -->

				<div class="theme-menu-wrapper">
					<div class="container">
						<div class="bg-wrapper clearfix">
							<div class="logo float-left"><a href="index.html"><img class="logmer" src="../images/logo/Black_White_Minimalist_Professional_Initial_Logo-removebg-preview.png" alt=""></a></div>
							<!-- ============== Menu Warpper ================ -->
							<div class="menu-wrapper float-left">
								<nav id="mega-menu-holder" class="clearfix">
									<ul class="clearfix">
										<li class="active"><a href="/">Home</a></li>
										<li><a href="/About">ABOUT US</a></li>
										<li><a href="/Team">Our Team</a></li>
										<li><a href="/Service">Services</a></li>
										<li><a href="#">Blog</a>
											<ul class="dropdown">
												<li><a href="/Blog">Blog Left Sidebar</a></li>
												<li><a href="/BlogR">Blog Right Sidebar</a></li>
												<li><a href="/BlogD">Blog Post</a></li>
											</ul>
										</li>
										<li><a href="/Contact">contact</a></li>
									</ul>
								</nav> <!-- /#mega-menu-holder -->
							</div> <!-- /.menu-wrapper -->
							<div class="right-widget float-right">
								<ul>
									<li class="cart-icon">
										<a href="/store"><i class="flaticon-tool"></i> <span>0</span></a>
									</li>
									<li class="search-option">
										<div class="dropdown">
											<button type="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search" aria-hidden="true"></i></button>
											<form action="#" class="dropdown-menu">
												<input type="text" Placeholder="Enter Your Search">
												<button><i class="fa fa-search"></i></button>
											</form>
										</div>
									</li>
								</ul>
							</div> <!-- /.right-widget -->
						</div> <!-- /.bg-wrapper -->
					</div> <!-- /.container -->
				</div> <!-- /.theme-menu-wrapper -->
			</header>  <!-- /.header-one -->

			


			<!-- 
			=============================================
				Our Solution
			============================================== 
			-->
			<div class="our-solution section-spacing">
				<div class="container">
					<div class="theme-title-one margintop-70">
						<h2>Our Services</h2>
					</div> <!-- /.theme-title-one -->
					<div class="wrapper">
						<div class="row">
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-solution-block">
									<img src="../images/icon/suitcase.svg" alt="" class="icon">
									<h5><a href="#">Personal Trainin</a></h5>
									<p>Achieve your fitness goals with one-on-one sessions tailored to your needs. Our certified trainers will guide you every step of the way.</p>
								</div> <!-- /.single-solution-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-solution-block">
									<img src="../images/icon/dumbbell-gym-svgrepo-com.svg" alt="" class="icon">
									<h5><a href="#">Group Classes</a></h5>
									<p>Join our fun and energetic group classes, including spinning and more. Perfect for all fitness levels! </p>
								</div> <!-- /.single-solution-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-solution-block">
									<img src="../images/icon/treadmill-sports-and-competition-svgrepo-com (1).svg" alt="" class="icon">
									<h5><a href="#">Nutrition Plans </a></h5>
									<p>Get customized meal plans designed to complement your workouts and help you reach your goals faster.</p>
								</div> <!-- /.single-solution-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-solution-block">
									<img src="../images/icon/target.svg" alt="" class="icon">
									<h5><a href="#">Modern Equipment</a></h5>
									<p>Train with the latest fitness equipment in a clean and spacious environment. We have everything you need for a great workout. </p>
								</div> <!-- /.single-solution-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-solution-block">
									<img src="../images/icon/analysis.svg" alt="" class="icon">
									<h5><a href="#">Supportive Community </a></h5>
									<p>Join a welcoming and motivating community of fitness enthusiasts. Together, we achieve more! </p>
								</div> <!-- /.single-solution-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-solution-block">
									<img src="../images/icon/startup-rocket.svg" alt="" class="icon">
									<h5><a href="#">Special Programs</a></h5>
									<p>Participate in boot camps, weight loss challenges, and other exciting programs to keep your fitness journey fresh and fun.</p>
								</div> <!-- /.single-solution-block -->
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.wrapper -->
				</div> <!-- /.container -->
			</div> <!-- /.our-solution -->
			

			
			<!-- 
			=============================================
				Feature Banner
			============================================== 
			-->
			<div class="feature-banner section-spacing">
				<div class="opacity">
					<div class="container">
						<h2>Change doesn't come from comfort, but from challenge.</h2>
						<a href="/buy-service" class="theme-button-one">LOREM IPSUM</a>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.feature-banner -->


			<!--
			=====================================================
				Free Consultation
			=====================================================
			-->
			<div class="consultation-form section-spacing">
				<div class="container">
					<div class="theme-title-one">
						<h2>Get in Touch with Us</h2>
						<p>We're here to answer your questions, guide you, and support your journey — feel free to contact us anytime.</p>
					</div> <!-- /.theme-title-one -->
					<div class="clearfix main-content no-gutters row">

						<div class="col-xl-6 col-lg-7 col-12">
							<div class="form-wrapper">
								<form action="/send-email-home" method="POST" class="theme-form-one">
									<div class="row">
										<div class="col-md-6"><input type="text" name="name" placeholder="Name, Lastname *"  required></div>
										<div class="col-md-6"><input type="text" name="phone" placeholder="Mobile Phone *"  required></div>
										<div class="col-md-6"><input type="email" name="email" placeholder="Email Address *"  required></div>
										<div class="col-md-6">
											<select class="form-control" id="exampleSelect1" name="service"  required>
											  <option>Choose Your Service</option>
											  <option value="Personal Training">Personal Training</option>
											  <option value="Group Fitness Classes">Group Fitness Classes</option>
											  <option value="Weight Loss Programs">Weight Loss Programs</option>
											  <option value="Muscle Building Plans">Muscle Building Plans</option>
											</select>
										</div>
										<div class="col-12"><textarea name="message" placeholder="Your Message"  required></textarea></div>
									</div> <!-- /.row -->
									<button class="theme-button-one" type="submit">Get Started</button>
								</form>
							</div> <!-- /.form-wrapper -->
						</div> <!-- /.col- -->
						<div class="col-xl-6 col-lg-5 col-12"><img src="../images/team/contact-img.jpg" ></div>
					</div> <!-- /.main-content -->
				</div> <!-- /.container -->
			</div> <!-- /.consultation-form -->




			<!--
			=====================================================
				Footer
			=====================================================
			-->
			<footer class="theme-footer-two">
				<div class="top-footer">
					<div class="container">
						<div class="row">
							<div class="col-lg-4 col-sm-6 col-12 logo-widget">
								<div class="logo"><a href="index.html"><img class="logmer" src="../images/logo/Black_White_Minimalist_Professional_Initial_Logo-2-removebg-preview.png" alt=""></a></div>
								<p>You will find training focused on kickboxing, conditioning, and fitness, with workout programs in the gym to improve strength and endurance.</p>
								<ul class="social-icon">
									<li><a href="https://wa.me/212613211334"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
									<li><a href="https://www.instagram.com/mbark____az?igsh=OW15dzQ1OGk4c3hp"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="https://www.facebook.com/mbark06"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								</ul>
							</div> <!-- /.logo-widget -->
							<div class="col-lg-2 col-sm-6 col-12 footer-list">
								<h6 class="title">EXPLORE</h6>
								<ul>
									<li><a href="#">Endurance</a></li>
									<li><a href="#">Strength</a></li>
									<li><a href="#">Fitness</a></li>
									<li><a href="#">Conditioning</a></li>
									<li><a href="#">Kickboxing</a></li>
								</ul>
							</div> <!-- /.footer-list -->
							<div class="col-lg-3 col-sm-6 col-12 footer-gallery">
								<h6 class="title">Gallery</h6>
								<div class="wrapper">
									<div class="row">
										<div class="col-4" >
											<a href="images/footer/1.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img style="border: 1px solid white;" src="../images/footer/photo_2025-05-01_21-43-53 (3).jpg" alt=""></a>
										</div>
										<div class="col-4">
											<a href="images/footer/2.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img style="border: 1px solid white;" src="../images/footer/photo_2025-05-01_21-43-53 (2).jpg" alt=""></a>
										</div>
										<div class="col-4">
											<a href="images/footer/3.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img style="border: 1px solid white;" src="../images/footer/photo_2025-05-01_21-43-53.jpg" alt=""></a>
										</div>
										<div class="col-4">
											<a href="images/footer/4.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img style="border: 1px solid white;" src="../images/footer/photo_2025-05-01_21-43-54.jpg" alt=""></a>
										</div>
										<div class="col-4">
											<a href="images/footer/5.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img  style="border: 1px solid white;" src="../images/footer/photo_2025-05-01_21-43-54 (2).jpg" alt=""></a>
										</div>
										<div class="col-4">
											<a href="images/footer/6.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img style="border: 1px solid white;" src="../images/footer/photo_2025-05-01_21-43-54 (3).jpg" alt=""></a>
										</div>
									</div>
								</div>
							</div> <!-- /.footer-gallery -->
							
							<div class="col-lg-3 col-sm-6 col-12 contact-widget">
								<h6 class="title">CONTACT</h6>
								<ul>
									<li>
										<i class="flaticon-direction-signs"></i>
										Near, Al Fath., Pharmacy DC, Morocco.
									</li>
									<li>
										<i class="flaticon-multimedia-1"></i>
										<a href="#">tmdmad9@gmail.com</a>
									</li>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<a href="#">+ (212) - 613 211 334</a>
									</li>
								</ul>
							</div> <!-- /.contact-widget -->
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.top-footer -->
				<div class="bottom-footer">
					<div class="container">
						<p>WebDev &copy; Copyrights 2024 / <a class="white-link" href="https://gridgum.com">Lorcan Solan / M'bark Azouakine</a> / All Rights Reserved. </p>
					</div>
				</div> <!-- /.bottom-footer -->
			</footer> <!-- /.theme-footer-two -->
			
			

	        

	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s">
				<i class="fa fa-angle-up" aria-hidden="true"></i>
			</button>
			


		<!-- Optional JavaScript _____________________________  -->

    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<!-- jQuery -->
		<script src="../vendor/jquery.2.2.3.min.js"></script>
		<!-- Popper js -->
		<script src="../vendor/popper.js/popper.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
		<!-- Camera Slider -->
		<script src='../vendor/Camera-master/scripts/jquery.mobile.customized.min.js'></script>
	    <script src='../vendor/Camera-master/scripts/jquery.easing.1.3.js'></script> 
	    <script src='../vendor/Camera-master/scripts/camera.min.js'></script>
	    <!-- menu  -->
		<script src="../vendor/menu/src/js/jquery.slimmenu.js"></script>
		<!-- WOW js -->
		<script src="../vendor/WOW-master/dist/wow.min.js"></script>
		<!-- owl.carousel -->
		<script src="../vendor/owl-carousel/owl.carousel.min.js"></script>
		<!-- js count to -->
		<script src="../vendor/jquery.appear.js"></script>
		<script src="../vendor/jquery.countTo.js"></script>
		<!-- Fancybox -->
		<script src="../vendor/fancybox/dist/jquery.fancybox.min.js"></script>

		<!-- Theme js -->
		<script src="../js/theme.js"></script>
		</div> <!-- /.main-page-wrapper -->
	</body>
</html>
